@import './base/_mixins';
@import './modules/_footer';
@import './modules/_item';
@import './modules/_submenu';

html {
    font-size: 62.5%;
}

h1, h2, p {
    text-align: center;
}

h1, h2 {
    font-family: Impact, serif;
}
h1 {
    font-size: 40px;
    margin: 0;
}
h2 {
    font-size: 30px;
}
body {
    background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin: 0 auto;
    padding: 20px;
}
.established {
    font-style: italic;
}
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}
img {
    display: block;
    margin: 0 auto;
    margin-top: -25px;
}


.bottom-line {
    margin-top: 25px;
}

